:root {
  font-size: 16px;
  font-family: "Lato", sans-serif;
  font-weight: normal;
  --color-green: #6FCF97;
  --color-purple: #BB6BD9;
  --color-blue: #2D9CDB;
  --color-red: #EB5757;
  --color-lightgray: #c4c4c4;
  --color-gray: #828282;
  --color-black: #333;

  --color-card-background: #fff;
  --color-code-background: rgb(230, 227, 220);
  --color-code-output: #323335;
  --color-brackets: #A0A0A0;
  --color-function-argument: #4F4F4F;

  --duration-default: 0.25s;
}

@font-face{
  font-family: 'Fira Sans Bold';
  src: url("eot/FiraSans-Bold.eot");
  src: local("Fira Sans Bold"),
       url("eot/FiraSans-Bold.eot") format("embedded-opentype"),
       url("woff/FiraSans-Bold.woff") format("woff"),
       url("ttf/FiraSans-Bold.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face{
    font-family: 'Fira Sans SemiBold';
    src: url("eot/FiraSans-SemiBold.eot");
    src: local("Fira Sans SemiBold"),
         url("eot/FiraSans-SemiBold.eot") format("embedded-opentype"),
         url("woff/FiraSans-SemiBold.woff") format("woff"),
         url("ttf/FiraSans-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}



body {
  background-color: #ddd9cf;
  background-image: linear-gradient(45deg, #ddd9cf 0%, #91CAB5 100%);
  height: 2000px;
  margin: 0;
}

#app {
  height: 100%;
  background-image: linear-gradient(135deg, #88AFCA 0%, rgba(0, 0, 0, 0) 100%);
  padding: 0 6rem;
}

.content {
  width: 66rem;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.headline {
  font-family: "Fira Sans SemiBold", "Fira", sans-serif;
  font-size: 2.5rem;
  background-color: rgba(0, 0, 0, 0);
  margin: 0;
  padding: 2em 0 1.5em 0;
  color: white;
  width: 100%;
}
.headline .emph {
  color: var(--color-red);
}

/* CARD LAYOUT */
.card {
  background: var(--color-card-background);
  padding: 1.5rem 1.5rem 1.5rem 1.5rem;
  width: 17rem;
  box-shadow: 0px 3px 22px rgba(0, 0, 0, 0.25);
  margin-bottom: 2.5rem;
}

.card.small {
  font-size: 0.8rem;
}


/* card header */
.card-header {
  max-height: 0;
  margin-bottom: 0;
  color: white;
  overflow: hidden;
  transition: max-height var(--duration-default),
    margin-bottom var(--duration-default),
    color var(--duration-default);
  }
.card:hover .card-header {
  max-height: 12rem;
  margin-bottom: 1rem;
  color: var(--color-black);
}

.card-header .card-title {
  width: 100%;
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 400;
  border-bottom: 1px solid var(--color-black);
  margin: 0 0 0 0;
  padding: 0;
}

.card-header .description {
  color: white;
  margin: 0.65em 0 0 0;
  font-weight: 400;
  font-size: 0.95rem;
  line-height: 1.3em;
  transition: color 0.25s;
}
.card:hover .card-header .description {
  color: var(--color-gray);
}

/* card body */
.card-body {
  background-color: var(--color-code-background);
}
.card-body p {
  font-family: "Fira Code", monospaced;
  font-size: 1.25em;
  color: var(--color-brackets);
  margin: 0.5em 0;
}

.card-body .function-wrapper {
  display: flex;
  border: 1px solid var(--color-brackets);
}

.card-body .function {
  padding: 2rem 0;
  margin: auto;
}
.card-body .function p:nth-child(1) {
  margin-bottom: -0.4rem;
}

.card-body .output {
  background: var(--color-code-output);
  padding: 0.15rem 2.5rem;
}

.card-body .function .function-name {
  font-family: "Fira Sans Bold", "Fira", monospaced;
  font-weight: bold;
  color: #333;
}

.card-body .function .inset-1 {
  padding-left: 1.5em;
}

/* card footer */
.card-footer {
  max-height: 0;
  overflow: hidden;
  margin: 0;
  padding: 0;
  transition: max-height var(--duration-default),
    margin-top var(--duration-default),
    color var(--duration-default);
  display: flex;
  justify-content: space-between;
}
.card:hover .card-footer {
  max-height: 1.5rem;
  margin-top: 0.75rem;
}
.card a {
  color: var(--color-card-background);
  transition: color 0.5s;
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 700;
}
.card .card-footer a:first-child {
  margin-right: 1.5em;
}
.card:hover a {
  color: var(--color-gray);
}
.card:hover a:hover {
  color: var(--color-red);
}



.item {
  width: 0.625em;
  height: 0.625em;
  display: inline-block;
  margin: 0 0.2em;
  border: 1px solid #333;
}
.output .item {
  border: none;
  width: 0.675em;
  height: 0.675em;
}

.dot {
  border-radius: 50%;
}
.item.green  { background: var(--color-green) }
.item.purple { background: var(--color-purple) }
.item.blue   { background: var(--color-blue) }
.item.yellow { background: var(--color-yellow) }
.item.red    { background: var(--color-red) }