:root {
  --color-green: #6FCF97;
  --color-purple: #BB6BD9;
  --color-blue: #2D9CDB;
  --color-yellow: #F2C94C;
  --color-red: #EB5757;

  --color-background: #404444;
  --color-output: #272B2B;
}

@font-face{
  font-family: 'Fira Sans';
  src: url("eot/FiraSans-Bold.eot");
  src: local("Fira Sans Bold"),
       url("eot/FiraSans-Bold.eot") format("embedded-opentype"),
       url("woff/FiraSans-Bold.woff") format("woff"),
       url("ttf/FiraSans-Bold.ttf") format("truetype");
  /* font-weight: 600; */
  font-style: normal;
}

.card {
  background: var(--color-background);
}

.card p {
  font-family: "Fira Code", monospaced;
  font-size: 18px;
  color: #ccc;
  margin: 5px 0;
}
.card .function {
  padding: 20px;
}
.card .output {
  background: var(--color-output);
  padding: 6px 20px;
}

.function-name {
  font-family: "Fira Sans", "Fira", monospaced;
  font-size: 18px;
  font-weight: bold;
  color: white;
}

.inset-1 {
  padding-left: 1.8em;
}

.dot,
.rect {
  width: 0.7em;
  height: 0.7em;
  display: inline-block;
  margin: 0 4px;
}
.dot {
  border-radius: 50%;
}
.item.green { background: var(--color-green) }
.item.purple { background: var(--color-purple) }
.item.blue { background: var(--color-blue) }
.item.yellow { background: var(--color-yellow) }
.item.red { background: var(--color-red) }