:root {
  font-size: 15px;
  font-family: "Lato", sans-serif;
  font-weight: normal;
  --color-green: #6FCF97;
  --color-purple: #BB6BD9;
  --color-blue: #2D9CDB;
  --color-red: #EB5757;
  --color-black: #333;
  --color-gray: #828282;

  --color-card-background: #fff;
  --color-code-background: #E2E1DD;
  --color-code-output: #323335;
  --color-brackets: #A0A0A0;
  --color-function-argument: #4F4F4F;
}

@font-face{
  font-family: 'Fira Sans Bold';
  src: url("eot/FiraSans-Bold.eot");
  src: local("Fira Sans Bold"),
       url("eot/FiraSans-Bold.eot") format("embedded-opentype"),
       url("woff/FiraSans-Bold.woff") format("woff"),
       url("ttf/FiraSans-Bold.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face{
    font-family: 'Fira Sans SemiBold';
    src: url("eot/FiraSans-SemiBold.eot");
    src: local("Fira Sans SemiBold"),
         url("eot/FiraSans-SemiBold.eot") format("embedded-opentype"),
         url("woff/FiraSans-SemiBold.woff") format("woff"),
         url("ttf/FiraSans-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}



body {
  background-color: #ddd9cf;
  background-image: linear-gradient(45deg, #ddd9cf 0%, #91CAB5 100%);
  height: 2000px;
  margin: 0;
}

#app {
  height: 100%;
  background-image: linear-gradient(135deg, #88AFCA 0%, rgba(0, 0, 0, 0) 100%);
}

.content {
  width: 60rem;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.headline {
  font-family: "Fira Sans SemiBold", "Fira", sans-serif;
  font-size: 2.5rem;
  background-color: rgba(0, 0, 0, 0);
  margin: 0;
  padding: 2em 0 1.5em 0;
  color: white;
}
.headline .emph {
  color: var(--color-red);
}

/* CARD LAYOUT */
.card {
  background: var(--color-card-background);
  padding: 1.75rem 2rem 2rem 2rem;
  width: 17rem;
  box-shadow: 0px 3px 22px rgba(0, 0, 0, 0.25);
  margin: 0 4rem 4rem 0;
}


/* card header */
.card-header {
  margin-bottom: 1.8rem;
}

.card-header table {
  width: 100%;
  border-spacing: 0;
}

.card-header table thead tr th {
  text-align: left;
  font-size: 1.125rem;
  font-weight: 300;
  text-transform: uppercase;
  color: var(--color-gray);
}
.card-header table tbody tr td {
  border-top: 1px solid var(--color-gray);
  padding-top: 3px;
  color: var(--color-brackets);
}

.card-header table tbody tr td.package {
  text-align: left;
}

.card-header table tbody tr td.since {
  text-align: right;
}
.card-header table tbody tr td.since a {
  color: var(--color-gray);
  text-decoration: none;
  font-weight: 700;
  font-size: 0.87rem;
  cursor: pointer;
  padding-left: 0.5rem;
}
.card-header table tbody tr td.since a:hover {
  color: var(--color-red);
}

/* card body */
.card-body {
  background-color: var(--color-code-background);
  margin-bottom: 1.25rem;
}
.card-body p {
  font-family: "Fira Code", monospaced;
  font-size: 1.25rem;
  color: var(--color-brackets);
  margin: 0.5em 0;
}

.card-body .function {
  padding: 2rem 2.5rem;
}
.card-body .function p:nth-child(1) {
  margin-bottom: -0.4rem;
}

.card-body .output {
  background: var(--color-code-output);
  padding: 0.15rem 2.5rem;
}

.card-body .function .function-name {
  font-family: "Fira Sans Bold", "Fira", monospaced;
  /* font-size: 1.125rem; */
  font-weight: bold;
  color: #333;
}

.card-body .function .inset-1 {
  padding-left: 1.5em;
}

/* card footer */
.card-footer a {
  color: var(--color-red);
  text-decoration: none;
  color: var(--color-gray);
  font-weight: 700;
}
.card-footer a:hover {
  color: var(--color-red);
}



.item {
  width: 0.6em;
  height: 0.6em;
  display: inline-block;
  margin: 0 4px;
  border: 1px solid #333;
}
.output .item {
  border: none;
}

.dot {
  border-radius: 50%;
}
.item.green  { background: var(--color-green) }
.item.purple { background: var(--color-purple) }
.item.blue   { background: var(--color-blue) }
.item.yellow { background: var(--color-yellow) }
.item.red    { background: var(--color-red) }